@media (min-width: 601px) {
    body {
        background: url('images/bg-desktop.svg') ;
        background-size: 100%;
    }
}

@media (max-width: 600px) {
    body {
        background: url('images/bg-mobile.svg') repeat-x;
        background-size: 100%;
    }
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 2vw;
}

.item {
    background-color: hsl(229, 57%, 11%);
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 5px;
    padding:5px;
    border-radius: 8px;

}

.icon {
    background-size: 100%;
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.i-document {
    background: url(images/icon-document.svg) 0 0 no-repeat;
}

.i-folder {
    background: url(images/icon-folder.svg) 0 0 no-repeat;
}

.i-upload {
    background: url(images/icon-upload.svg) 0 0 no-repeat;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}